<style type="text/css">
  .alert {
    padding: 5px;
    background-color: #6BBD6E; /* Red */
    color: white;
    margin-bottom: 15px;
    text-align: center;
    font-size: 22px;
  }

</style>

<md-dialog aria-label="CDSS Recommendation">
  <form ng-cloak>
    <md-toolbar>
      <div class="top-striped _md _md-toolbar-transitions md-toolbar-tools">
        <h2 style="width: 100% !important;">CDSS Intervention</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div class="card card-5">
      <div class="alert">Recommendation: {{ recommendation }}</div>
      <!-- <img style="margin: auto; max-width: 100%;" alt="Decision tree path followed for making decision" src="images/tree/{{ treeRefrence }}.png"> -->
      <img width="1000" alt="Decision tree path followed for making decision" src="images/tree/{{ treeRefrence }}.png">
    </div>


  </form>
</md-dialog>