
<div  layout="row" layout-align="center center">

  <div class="login">
   <br />
    <div layout-gt-sm="row" layout-align="center end"> <img src="images/logo.png" alt="logo" width="55%" /> </div>
      <form name="clientLogin" class="loginform" ng-submit="login()">


      <div layout-gt-sm="row" layout-align="center end" style="color: rgb(221,44,0);">{{ error }}</div>

        <md-input-container>
          <md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
          <input ng-model="user.name" name="userName" type="text" placeholder="User Name" ng-required="true">
          <div ng-messages="clientLogin.userName.$error">
            <div ng-message="required">User name required.</div>
          </div>
        </md-input-container>
        <md-input-container md-no-float>
          <!-- Use floating placeholder instead of label -->
          <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
          <input ng-model="user.password" type="password" placeholder="Password" ng-required="true" name="userPassword">
          <div ng-messages="clientLogin.userPassword.$error">
            <div ng-message="required">Password required.</div>
          </div>
        </md-input-container>

        <md-button class="md-raised md-primary" type="submit">Login</md-button>
      </form>
    <footer>
     
      <div layout-gt-sm="row" layout-align="center end">Copyright &copy 2017.Smart CDSS for Cardiovascular Disease.</div>
    </footer>

  </div>


</div>

