<div>
  <div class="white" md-whiteframe="1"    layout-align="center center"   id="PatientDetail">
    <md-toolbar class="site-content-toolbar" >
      <div class="md-toolbar-tools">
        <h2>Patient Detail</h2>
        <span flex> </span>
    <md-button class="md-primary redbutton" ng-click="showRecommendation($event)">
      Show Recommendation
    </md-button>
	
      </div>
    </md-toolbar>
    <div layout-padding class="contentbg">
      <div layout-gt-sm="row"  class="nopadding">
        <md-input-container class="md-block"  flex-gt-xs >
          <label>Patient MRN</label>
          <input name="patientMRNNo" aria-label="Patient MRN" ng-model="patient.patientMRNNo">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
          <label>Patient Name</label>
          <input name="patientName" aria-label="Patient Name" ng-model="patient.patientName" >
        </md-input-container>
        <md-input-container class="md-block"  flex-gt-xs>
          <md-switch ng-model="patient.gender" ng-true-value="'Female'" ng-false-value="'Male'"  aria-label="sex" class="md-warn md-hue-2">Sex : <strong>{{ patient.gender }}</strong></md-switch>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
          <label>Age</label>
          <input name="age" aria-label="AGe" ng-model="patient.age" >
        </md-input-container>
      </div>
    </div>
  </div>  

  <!--  Clinical Symptoms --> 
  <div class="white" md-whiteframe="2"    layout-align="center center"   id="ClinicalSymptoms">
    <md-toolbar class="site-content-toolbar" >
      <div class="md-toolbar-tools">
        <h2>
          <span>Patient Symptoms </span>
          <md-switch ng-model="symptomsAndSignsAvailable" ng-true-value="true" ng-false-value="false"  aria-label="symptomsAndSignsAvailable" class="md-warn md-hue-2 header-switch"> <strong>{{ (symptomsAndSignsAvailable == true) ? 'Available' : 'Not Available' }}</strong></md-switch>
        </h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <div layout-padding>
      <div layout-gt-sm="row" class="nopadding">
        <md-input-container class="md-block"  flex-gt-xs>
          <md-switch ng-model="patient.patientSymptomsList[0].breathlessness" ng-true-value="1" ng-false-value="0"  aria-label="breathlessness" class="md-warn md-hue-2" ng-disabled="!symptomsAndSignsAvailable">Breathlessness : <strong>{{ (patient.patientSymptomsList[0].breathlessness == 1) ? 'Yes' : 'No' }}</strong></md-switch>
        </md-input-container>
        <md-input-container class="md-block"  flex-gt-xs>
          <md-switch ng-model="patient.patientSymptomsList[0].orthopnoea" ng-true-value="1" ng-false-value="0"  aria-label="orthopnoea" class="md-warn md-hue-2" ng-disabled="!symptomsAndSignsAvailable">Orthopnoea : <strong>{{ (patient.patientSymptomsList[0].orthopnoea == 1) ? 'Yes' : 'No' }}</strong></md-switch>
        </md-input-container>
        <md-input-container class="md-block"  flex-gt-xs>
          <md-switch ng-model="patient.patientSymptomsList[0].pnd" ng-true-value="1" ng-false-value="0"  aria-label="pnd" class="md-warn md-hue-2" ng-disabled="!symptomsAndSignsAvailable">PND : <strong>{{ (patient.patientSymptomsList[0].pnd == 1) ? 'Yes' : 'No' }}</strong></md-switch>
        </md-input-container>
        <md-input-container class="md-block"  flex-gt-xs>
          <md-switch ng-model="patient.patientSymptomsList[0].reducedExerciseTolerance" ng-true-value="1" ng-false-value="0"  aria-label="reducedExerciseTolerance" class="md-warn md-hue-2" ng-disabled="!symptomsAndSignsAvailable">Reduced Exercise Tolerance : <strong>{{ (patient.patientSymptomsList[0].reducedExerciseTolerance == 1) ? 'Yes' : 'No' }}</strong></md-switch>
        </md-input-container>
      </div>
      <div layout-gt-sm="row" class="nopadding">
        <md-input-container class="md-block"  flex-gt-xs>
          <md-switch ng-model="patient.patientSymptomsList[0].ankleSwelling" ng-true-value="1" ng-false-value="0"  aria-label="ankleSwelling" class="md-warn md-hue-2" ng-disabled="!symptomsAndSignsAvailable">Ankel Swelling: <strong>{{ (patient.patientSymptomsList[0].ankleSwelling == 1) ? 'Yes' : 'No' }}</strong></md-switch>
        </md-input-container>
        <md-input-container class="md-block"  flex-gt-xs>
          <md-switch ng-model="patient.patientSymptomsList[0].fatigue" ng-true-value="1" ng-false-value="0"  aria-label="fatigue" class="md-warn md-hue-2" ng-disabled="!symptomsAndSignsAvailable">Fatigue: <strong>{{ (patient.patientSymptomsList[0].fatigue == 1) ? 'Yes' : 'No' }}</strong></md-switch>
        </md-input-container>
        <md-input-container class="md-block"  flex-gt-xs>
          <md-switch ng-model="patient.patientSymptomsList[0].tiredness" ng-true-value="1" ng-false-value="0"  aria-label="tiredness" class="md-warn md-hue-2" ng-disabled="!symptomsAndSignsAvailable">Tiredness: <strong>{{ (patient.patientSymptomsList[0].tiredness == 1) ? 'Yes' : 'No' }}</strong></md-switch>
        </md-input-container>
      </div>
    </div>
  </div>

  <!--  Clinical History --> 
  <div class="white" md-whiteframe="3"    layout-align="center center"   id="ClinicalHistory">
    <md-toolbar class="site-content-toolbar" >
      <div class="md-toolbar-tools">
        <h2>
          <span>Patient Clinical History</span>
          <md-switch ng-model="clinicalHistoryAvailable" ng-true-value="true" ng-false-value="false"  aria-label="clinicalHistoryAvailable" class="md-warn md-hue-2 header-switch"> <strong>{{ (clinicalHistoryAvailable == true) ? 'Available' : 'Not Available' }}</strong></md-switch>
        </h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <div layout-padding>
      <div layout-gt-sm="row" class="nopadding">
       <md-input-container class="md-block"  flex-gt-xs>
          <md-switch ng-model="patient.patientClinicalHistoryList[0].cad" ng-true-value="1" ng-false-value="0"  aria-label="cad" class="md-warn md-hue-2" ng-disabled="!clinicalHistoryAvailable">CAD : <strong>{{ (patient.patientClinicalHistoryList[0].cad == 1) ? 'Yes' : 'No'  }}</strong></md-switch>
        </md-input-container>
        <md-input-container class="md-block"  flex-gt-xs>
          <md-switch ng-model="patient.patientClinicalHistoryList[0].arterialHypertension" ng-true-value="1" ng-false-value="0"  aria-label="arterialHypertension" class="md-warn md-hue-2" ng-disabled="!clinicalHistoryAvailable">Arterial Hypertension : <strong>{{ (patient.patientClinicalHistoryList[0].arterialHypertension == 1) ? 'Yes' : 'No' }}</strong></md-switch>
        </md-input-container>
        <md-input-container class="md-block"  flex-gt-xs>
          <md-switch ng-model="patient.patientClinicalHistoryList[0].expositionToCardiotoxic" ng-true-value="1" ng-false-value="0"  aria-label="expositionToCardiotoxic" class="md-warn md-hue-2" ng-disabled="!clinicalHistoryAvailable">Exposition to Cardiotoxic : <strong>{{ (patient.patientClinicalHistoryList[0].expositionToCardiotoxic == 1) ? 'Yes' : 'No' }}</strong></md-switch>
        </md-input-container>
        <md-input-container class="md-block"  flex-gt-xs>
          <md-switch ng-model="patient.patientClinicalHistoryList[0].useOfDiuretics" ng-true-value="1" ng-false-value="0"  aria-label="useOfDiuretics" class="md-warn md-hue-2" ng-disabled="!clinicalHistoryAvailable">Use of Diuretics : <strong>{{ (patient.patientClinicalHistoryList[0].useOfDiuretics == 1) ? 'Yes' : 'No'  }}</strong></md-switch>
        </md-input-container>
        <md-input-container class="md-block"  flex-gt-xs>
          <md-switch ng-model="patient.patientClinicalHistoryList[0].orthopnoeaParoxysmal" ng-true-value="1" ng-false-value="0"  aria-label="orthopnoeaParoxysmal" class="md-warn md-hue-2" ng-disabled="!clinicalHistoryAvailable">Orthopnoea Paroxysmal : <strong>{{ (patient.patientClinicalHistoryList[0].orthopnoeaParoxysmal == 1) ? 'Yes' : 'No'  }}</strong></md-switch>
        </md-input-container>
      </div>
  </div>

   <!--  Clinical Physical Exam --> 
  <div class="white" md-whiteframe="4"    layout-align="center center"   id="PhysicalExam">
    <md-toolbar class="site-content-toolbar" >
      <div class="md-toolbar-tools">
        <h2>
          <span>Patient Physical Exam</span>
          <md-switch ng-model="physicalExamAvailable" ng-true-value="true" ng-false-value="false"  aria-label="physicalExamAvailable" class="md-warn md-hue-2 header-switch"> <strong>{{ (physicalExamAvailable == true) ? 'Available' : 'Not Available' }}</strong></md-switch>
        </h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <div layout-padding>
      <div layout-gt-sm="row" class="nopadding">
        <md-input-container class="md-block"  flex-gt-xs>
          <md-switch ng-model="patient.patientPhysicalExamList[0].rales" ng-true-value="1" ng-false-value="0"  aria-label="rales" class="md-warn md-hue-2" ng-disabled="!physicalExamAvailable">Rales: <strong>{{ (patient.patientPhysicalExamList[0].rales == 1) ? 'Yes' : 'No' }}</strong></md-switch>
        </md-input-container>
        <md-input-container class="md-block"  flex-gt-xs>
          <md-switch ng-model="patient.patientPhysicalExamList[0].bilateralAnkleEdema" ng-true-value="1" ng-false-value="0"  aria-label="bilateralAnkleEdema" class="md-warn md-hue-2" ng-disabled="!physicalExamAvailable">Bilateral Ankel Edema: <strong>{{ (patient.patientPhysicalExamList[0].bilateralAnkleEdema == 1) ? 'Yes' : 'No' }}</strong></md-switch>
        </md-input-container>
        <md-input-container class="md-block"  flex-gt-xs>
          <md-switch ng-model="patient.patientPhysicalExamList[0].heartMurmur" ng-true-value="1" ng-false-value="0"  aria-label="heartMurmur" class="md-warn md-hue-2" ng-disabled="!physicalExamAvailable">Heart Murmur: <strong>{{ (patient.patientPhysicalExamList[0].heartMurmur == 1) ? 'Yes' : 'No' }}</strong></md-switch>
        </md-input-container>
      </div>
      <div layout-gt-sm="row" class="nopadding">
        <md-input-container class="md-block"  flex-gt-xs>
          <md-switch ng-model="patient.patientPhysicalExamList[0].jugularVenousDilatation" ng-true-value="1" ng-false-value="0"  aria-label="jugularVenousDilatation" class="md-warn md-hue-2" ng-disabled="!physicalExamAvailable">Jugular Venous Dilatation: <strong>{{ (patient.patientPhysicalExamList[0].jugularVenousDilatation == 1) ? 'Yes' : 'No' }}</strong></md-switch>
        </md-input-container>
        <md-input-container class="md-block"  flex-gt-xs>
          <md-switch ng-model="patient.patientPhysicalExamList[0].laterallyDisplacedApical" ng-true-value="1" ng-false-value="0"  aria-label="laterallyDisplacedApical" class="md-warn md-hue-2" ng-disabled="!physicalExamAvailable">Laterally Displace Apical: <strong>{{ (patient.patientPhysicalExamList[0].laterallyDisplacedApical == 1) ? 'Yes' : 'No' }}</strong></md-switch>
        </md-input-container>
        <md-input-container class="md-block"  flex-gt-xs>
          <md-switch ng-model="patient.patientPhysicalExamList[0].elevatedJVP" ng-true-value="1" ng-false-value="0"  aria-label="elevatedJVP" class="md-warn md-hue-2" ng-disabled="!physicalExamAvailable">Elevated JVP: <strong>{{ (patient.patientPhysicalExamList[0].elevatedJVP == 1) ? 'Yes' : 'No' }}</strong></md-switch>
        </md-input-container>
      </div>
      <div layout-gt-sm="row" class="nopadding">
        <md-input-container class="md-block"  flex-gt-xs>
          <md-switch ng-model="patient.patientPhysicalExamList[0].s3" ng-true-value="1" ng-false-value="0"  aria-label="s3" class="md-warn md-hue-2" ng-disabled="!physicalExamAvailable">S3: <strong>{{ (patient.patientPhysicalExamList[0].s3 == 1) ? 'Yes' : 'No' }}</strong></md-switch>
        </md-input-container>
        <md-input-container class="md-block"  flex-gt-xs>
          <md-switch ng-model="patient.patientPhysicalExamList[0].nocternalCough" ng-true-value="1" ng-false-value="0"  aria-label="nocternalCough" class="md-warn md-hue-2" ng-disabled="!physicalExamAvailable">Nocternal Cough: <strong>{{ (patient.patientPhysicalExamList[0].nocternalCough == 1) ? 'Yes' : 'No' }}</strong></md-switch>
        </md-input-container>
        <md-input-container class="md-block"  flex-gt-xs>
          <md-switch ng-model="patient.patientPhysicalExamList[0].impulse" ng-true-value="1" ng-false-value="0"  aria-label="impulse" class="md-warn md-hue-2" ng-disabled="!physicalExamAvailable">Impulse: <strong>{{ (patient.patientPhysicalExamList[0].impulse == 1) ? 'Yes' : 'No' }}</strong></md-switch>
        </md-input-container>
      </div>

    </div>
  </div>

  <!--  Laboratory Exam -->
  <div class="white" md-whiteframe="5"    layout-align="center center"   id="LaboratoryExam"> 
    <md-toolbar class="site-content-toolbar" >
      <div class="md-toolbar-tools">
        <h2>Laboratory Exam</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <div layout-padding>
      

       <div layout-gt-sm="row" class="nopadding">
        <md-input-container class="md-block"  flex-gt-xs>
          <md-switch ng-model="patient.ecg" ng-true-value="1" ng-false-value="0"  aria-label="ecg" class="md-warn md-hue-2">ECG : <strong>{{ (patient.ecg == 1) ? 'Abnormal' : 'Normal' }}</strong></md-switch>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-xs>
          <label>NTproBNP</label>
          <input name="ntproBNP" aria-label="NTproBNP" ng-model="patient.ntproBNP" >
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
          <label>BNP</label>
          <input name="bnp" aria-label="BNP" ng-model="patient.bnp" >
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
          <label>LVEF</label>
          <input name="lvef" aria-label="LVEF" ng-model="patient.lvef" >
        </md-input-container>
      </div>
      <div layout-gt-sm="row" class="nopadding">
        <md-input-container class="md-block" flex-gt-xs>
          <label>LAVI</label>
          <input name="lavi" aria-label="LAVI" ng-model="patient.lavi" >
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
          <label>LVMI</label>
          <input name="lvmi" aria-label="LVMI" ng-model="patient.lvmi" >
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
          <label>Ee</label>
          <input name="ee" aria-label="Ee" ng-model="patient.ee" >
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
          <label>eSeptal</label>
          <input name="eSeptal" aria-label="eSeptal" ng-model="patient.eSeptal" >
        </md-input-container>
      </div>
      <div layout-gt-sm="row" class="nopadding">
        <md-input-container class="md-block" flex-gt-xs>
          <label>Longitudinal Strain</label>
          <input name="longitudinalStrain" aria-label="LongitudinalStrain" ng-model="patient.longitudinalStrain" >
        </md-input-container>
        <md-input-container class="md-block" flex-gt-xs>
          <label>TRV</label>
          <input name="trv" aria-label="TRV" ng-model="patient.trv" >
        </md-input-container>
      </div> 




      <!--  <div layout-gt-sm="row" ng-show="patient.followupRecommendation"> -->
      <div layout-gt-sm="row" layout-align="center end">
        <md-button class="md-raised md-primary md-button md-ink-ripple" ng-click="savePatientRecord()"> Save Record </md-button>
      </div>
    </div>
  </div>


</div>