<!DOCTYPE html>
<html  ng-app="CardiovascularWebApp" >
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Smart CDSS Cardiovascular</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link href="css/angular-material.css" rel="stylesheet" type="text/css" />
  <link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body class="docs-body " layout="row" ng-cloak ng-controller="AppCtrl">
  
  <!-- Content Start -->
  <md-content flex>
    <md-toolbar class="top-striped">
      <div class="md-toolbar-tools">
        
        <h2 class="header show"> <img src="images/logo_header.png" class="align left" />  </h2>
        <span flex></span> 
        <form class="search-box" ng-hide="loginPage">
          <input class="search-box-input" type="text" required="required" ng-model="patientMRN" ng-keypress="searchPatient($event)">
          <button type="reset" class="delete"></button>
        </form>

        <span flex></span>
        <md-button aria-label="Favorite" ng-click="logout()" ng-hide="loginPage">
          Logout
        </md-button>

      </div>
    </md-toolbar>
	
	
	 
      <div class="header-bar" ng-hide="loginPage">
		  <div class="header-bar-innerbg">
			<ul class="headermenu">
        	<li class="current"><a href="#/"><span class="icon icon-flatscreen"></span>Dashboard</a></li>
            <li><a href="#/patientdetail"><span class="icon icon-pencil"></span>Add Patient</a></li>
          
        </ul>
		  </div>
	  </div>
	 
	  
	
	
    <!--tool bar-->
    <div layout="column" tabIndex="-1" class="flex {{ loginPage ? '' : 'layout-padding' }}" role="main"  id="main_area" >
      <!-- Loader -->
      <div class="overlay" ng-hide="! (isPageLoading)">
        <div layout="row" layout-sm="column"  layout-align="center">
          <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>
      </div>
     
      <ng-view ></ng-view>

    
    </div>
  </md-content>
  <!-- Content End --> 

</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 
<script type="text/javascript" src="js/angular.js" > </script> 
<script type="text/javascript" src="js/angular-animate.min.js" > </script> 
<script type="text/javascript" src="js/angular-route.min.js" > </script> 
<script type="text/javascript" src="js/angular-aria.min.js" > </script> 
<script type="text/javascript" src="js/angular-messages.min.js" > </script> 
<script type="text/javascript" src="js/svg-assets-cache.js" > </script> 
<script type="text/javascript" src="js/angular-material.js" > </script> 
<script type="text/javascript" src="js/angular-cookies.js" > </script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script> 

<!-- app js -->
<script type="text/javascript" src="app/app.js" > </script>

<!-- controllers -->
<script type="text/javascript" src="app/Controllers/login.js" > </script>
<script type="text/javascript" src="app/Controllers/home.js" > </script> 
<script type="text/javascript" src="app/Controllers/patientlisting.js" > </script>
<script type="text/javascript" src="app/Controllers/patientdetail.js" > </script> 

<!-- Services -->
<script type="text/javascript" src="app/Services/patientservice.js"></script>


</html>
